@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --primary-color: #004a5f;
  --secondary-color: #00bec6;
  --tertiary-color: #e2e2e2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  height: 100vh;
  background: var(--tertiary-color);
  font-size: 16px;
}

img {
  width: 100%;
}

.mark-container {
  display: none;
}

.landing {
  .container {
    margin: 0 auto;
    text-align: center;

    .left {
      background: linear-gradient(
        120deg,
        var(--primary-color) 0%,
        var(--secondary-color) 100%
      );
      padding: 2em;
      color: white;

      img {
        width: 150px;
      }

      h1 {
        margin: 2em 0;
      }

      p {
        line-height: 2em;
      }
    }

    .right {
      padding: 2em;

      button {
        width: 80%;
        padding: 1em;
        background: var(--primary-color);
        color: white;
        font-weight: bold;
        font-size: 0.75em;
        letter-spacing: 0.075em;
        cursor: pointer;
        border: none;
        border-radius: 0.5em;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 20px;
  }

  .app {
    width: 80% !important;
  }

  button {
    width: 60% !important;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    display: grid;
    grid-template-columns: 55% auto;
    height: 100vh;

    .left {
      display: grid;
      text-align: left;
      padding: 0 2em !important;

      .logo {
        margin: 2em 0;
      }

      p {
        line-height: 1.7em !important;
      }

      .content {
        padding: 0 3em;

        h1 {
          margin: 0;
          margin-bottom: 1em;
          font-size: 2.4em;

          span {
            display: block;
          }
        }
      }
    }

    .right {
      align-self: center;
    }
  }

  .mark-container {
    display: block;
    position: absolute;
    top: 20%;
    height: 70%;
    width: 100%;
    z-index: 0;
    color: white;
    opacity: 0.1;
    font-size: 1.5em;
    font-weight: bold;

    .mark {
      width: 24%;
      margin-left: 1em;
      margin-bottom: 1.6em;

      &:nth-child(1) {
        margin-left: 30%;
      }
      &:nth-child(2) {
        margin-left: 10%;
      }
      &:nth-child(3) {
        margin-left: -5%;
      }
      &:nth-child(4) {
        margin-left: 25%;
        transform: translateY(-100%);
      }
      &:nth-child(5) {
        margin-left: 10%;
      }
      &:nth-child(6) {
        margin-left: -15%;
        transform: translateY(70%);
      }
      &:nth-child(7) {
        margin-left: 15%;
      }
      &:nth-child(8) {
        margin-left: 30%;
      }
      &:nth-child(9) {
        margin-left: 1%;
      }
    }
  }
}
