@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
:root {
  --primary-color: #004a5f;
  --secondary-color: #00bec6;
  --tertiary-color: #e2e2e2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  height: 100vh;
  background: var(--tertiary-color);
  font-size: 16px;
}

img {
  width: 100%;
}

.mark-container {
  display: none;
}

.landing .container {
  margin: 0 auto;
  text-align: center;
}

.landing .container .left {
  background: linear-gradient(120deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  padding: 2em;
  color: white;
}

.landing .container .left img {
  width: 150px;
}

.landing .container .left h1 {
  margin: 2em 0;
}

.landing .container .left p {
  line-height: 2em;
}

.landing .container .right {
  padding: 2em;
}

.landing .container .right button {
  width: 80%;
  padding: 1em;
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  letter-spacing: 0.075em;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 20px;
  }
  .app {
    width: 80% !important;
  }
  button {
    width: 60% !important;
  }
}

@media only screen and (min-width: 960px) {
  body {
    overflow-y: hidden;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% auto;
        grid-template-columns: 55% auto;
    height: 100vh;
  }
  .container .left {
    display: -ms-grid;
    display: grid;
    text-align: left;
    padding: 0 2em !important;
  }
  .container .left .logo {
    margin: 2em 0;
  }
  .container .left p {
    line-height: 1.7em !important;
  }
  .container .left .content {
    padding: 0 3em;
  }
  .container .left .content h1 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 2.4em;
  }
  .container .left .content h1 span {
    display: block;
  }
  .container .right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .mark-container {
    display: block;
    position: absolute;
    top: 20%;
    height: 80%;
    width: 100%;
    z-index: 0;
    color: white;
    opacity: 0.1;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-clip-path: inset(0 45% 0 0);
            clip-path: inset(0 45% 0 0);
    pointer-events: none;
  }
  .mark-container .mark {
    width: 24%;
    margin-left: 1em;
    margin-bottom: 1.6em;
  }
  .mark-container .mark:nth-child(1) {
    margin-left: 30%;
  }
  .mark-container .mark:nth-child(2) {
    margin-left: 5%;
  }
  .mark-container .mark:nth-child(3) {
    margin-left: -5%;
  }
  .mark-container .mark:nth-child(4) {
    margin-left: 25%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .mark-container .mark:nth-child(5) {
    margin-left: 20%;
  }
  .mark-container .mark:nth-child(6) {
    margin-left: -15%;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  }
  .mark-container .mark:nth-child(7) {
    margin-left: 15%;
  }
  .mark-container .mark:nth-child(8) {
    margin-left: 30%;
  }
  .mark-container .mark:nth-child(9) {
    margin-left: 1%;
  }
}
/*# sourceMappingURL=main.css.map */